.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 91vh;
  padding: 40px;
  position:relative;
 

  .description-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    h1
    {
        position: relative;
        
        margin:0px;
        font-size:80px;
        text-align: center;
        margin-bottom:20px;
       
        
       
}
h2{
  position:relative;
  text-align: center;
  margin-top:0px;
  font-size:35px;
  height:100px;
  &::after{
   
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgba(126, 121, 121, 0.274);
    width:25rem;
    height:.1rem;
    border-radius:50px;
    stretch: 1s ease-in-out forwards;        animation: line-
    
}
}
p {
  max-width: 50ch;
  text-align: center;
}

   

    .home-button-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 10px;
      margin-left: 10px;
      .home-schedule-button {
        border-radius: 10px;
        border: 1.5px solid black;
        background-color: #c7975de1;
        color: black;

        width: 100px;
        height: 30px;
      }
      .home-learn-more-button {
        border-radius: 10px;
        background-color: #f1f3f500;
        border: 1.5px solid #c7975de1;

        width: 100px;
        height: 30px;
      }
    }
    .icons-container {
      margin-top: 30px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      gap:50px;
      svg {
        width: 24px;
        height: 24px;
      }
      .tw:hover {
        animation: .5s hovericon ease-in forwards;
      }
      .ig:hover {
        animation: .5s hovericon ease-in forwards;
      }
      .yt:hover {
        animation: .5s hovericon ease-in forwards;
      }
      @keyframes hovericon {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.1);
        }
      }
    }
  }
  // .description-content h1::after{
  //     content:'';

  // }
  
  .down-container{
    position:absolute;
    bottom:0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .down-label{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.438);
    }
    .down-icon{
      font-size: 30px;
      color: rgba(0, 0, 0, 0.438);
    }
    .down-icon:hover{
      animation: 1s down-bounce infinite
    }
    @keyframes down-bounce {
      0%{
        transform:scale(1.0);
        
  
      }
      100%{
        transform:scale(1.1);
      }
      
    }
  }
 
}
