.app{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height:100%;

    @media (max-width:550px) {
        .main-nav-container{
            display: none;
        }
        .other-nav-container{
            display:none
        }
        
    }
    
    
    
}