.how-it-works-page{
        
.how-it-works-container{
  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
       
        padding:5rem;
        gap:3rem;
       
        background-color: #bfae97e1;
        overflow-y: auto;
       

        
       

        .first-row-how {
        
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        
        
       
        
       
       
        .first-image-how .first-image{
                width:100%;
                height:auto;
               
               
              
        }
        .first-how-description{
                margin-left:5rem;
        }
        .first-how-title{
                color:#5e3c13e1;
                font-size:3rem;
             
        }

        }
        .second-row-how {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        
    
     
      
       
        .second-how-description{
                margin-right:5rem;
        }
        .second-image-how .second-image{
                width:100%;
                height:auto;
                
               
                

        }
        .second-how-title{
                color:#5e3c13e1;
                font-size: 3rem;
                
        }
        
        }
      
      
}
}