.contact-page{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    

    .contact-content{
        display:flex;
        width:100%;
        justify-content: space-evenly;
        align-items: center;




}
    
    

    
}
