
       
      
.nav-container {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    animation: .5s spreadStart ease-out;   
    padding: 0px 40px;
    transition:1s;


    .link-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:50px;

    }
    




}
@keyframes spreadStart {
    0%{
    opacity: 0%;
    transform: scaleX(0);
    }
    100%{
        opacity: 100%;
        
    }
    
}



