
       
      
.nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(126, 121, 121, 0.274);


    .link-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:50px;

    }




}

