.react-calendar{
    width:100%;
    max-width: 50rem;
    border:1px solid rgb(171, 157, 137);
    padding:1.5rem;
    background-color: rgb(231, 225, 218);
    
    .react-calendar__navigation{
        
        display:flex;
        justify-content: space-evenly;

        .react-calendar__navigation__label{
            pointer-events: none;
        }



        .react-calendar__navigation__next2-button{
            display:none;
            

        }
        .react-calendar__navigation__prev2-button{
            display:none;
        }
        > button{
           font-size: 2rem;
           border: none;
            background: none;
        }

    }

    .react-calendar__viewContainer{
        .react-calendar__month-view__weekdays{
            
           
            padding-top: 1rem;
          
            > div{
                text-align: center;
                font-size: 1.5rem;
                abbr{
                    text-decoration: none;
                }
        }
       
           
        }

        .react-calendar__month-view__days{
            .react-calendar__tile--active{
                
                background-color: rgb(158, 145, 127);
            }
           > button{

            padding:20px;
            font-size: 1.5rem;
           border: none;
            background: none;
            border-radius: 50px;

           }
           > button:hover:enabled{
            background-color: rgb(196, 182, 162);
           }
        }
    }
    
}


@media (max-width:480px){
    .react-calendar{
        .react-calendar__navigation{
        
    
            .react-calendar__navigation__label{
              
            }
    
    
    
            .react-calendar__navigation__next2-button{
              
                
    
            }
            .react-calendar__navigation__prev2-button{
          
            }
            > button{
               font-size: 1.5rem;
             
            }
    
        }
        .react-calendar__viewContainer{
            .react-calendar__month-view__weekdays{
            
           
              
                > div{
                 
                    font-size: 1rem;
                    abbr{
                       
                    }
            }
           
               
            }
            .react-calendar__month-view__days{
             > button{
                padding:10px;
                font-size: 1.2rem;
             }
            }
        }
    }
}