.instruments-container{
    display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position:relative;
        gap:2rem;
       

        background-color: #af9b85e1;
        padding: 5rem;
        .heal-title-box{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .heal-title{
            color:rgb(30, 29, 29);
            font-size: 4rem;
            padding:1rem;
            text-align: center;
        }
        .heal-image-container{

            .heal-image{
                height:auto;
                max-width:100%;
                border-radius: 5px;
            }

        }
        .message-info{
            text-align: center;
            font-size:1.3rem;
    
        }

        
}
